/*Damn you're reading this most people wouldn't be able to find it (also if you were wondering yes this is going to be as annoying to read as the html files.
Also: Ufite ubwenge*/
/*Cabbage*/
/*Cabbage*/
/*Carrot*/
hr
{
  background-color: #000 !important;
}
/*Carrot*//*Cabbage*/
/*Carrot*/
/*Carrot*/
/*Cabbage*/
/*Carrot*/
/*Cabbage*
/*Carrot*//
/*Cabbage*/
/*Carrot*/
/*Carrot*/
/*Cabbage*/
/*Cabbage*/
/*Carrot*/
h1
{
  text-align: center;
}
.lol
{
  /*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*//*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*//*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*/
  font-size: 69px;
}
/*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*//*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*//*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*//*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*//*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*//*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*/
/*Cabbage*/
h2
{
  text-align: center;
}
.phpechoHelloWorld
/*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*/
{
  color: green;
}/*Carrot*/
/*Cabbage*/
/*Cabbage*//*Cabbage*//*Carrot*//*Cabbage*/
/*Cabbage*/
/*Carrot*/


body
{
  background-color: #ADD8E6;
}
/*loolololooloollooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo carrot cabbage, banana*/
